@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

body {
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	color: #414141;
}
h2 {
	position: relative;
    padding-bottom: 2rem;
	margin-top: 3rem;
    margin-bottom: 3.5rem;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
    line-height: 62px;
	color: #212529;;
}
h2::after {
	content: "";
	display: block;
	position: absolute;
	width: 173px;
	height: 4px;
	background: #92C820;
	border-radius: 2px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 1rem;
	margin-top: 0;
    height: 3.6rem;
}
p {
	font-size: 14px;
	color: #414141;
}
a {
	text-decoration: none;
	color: #414141;
	transition: all 0.25s ease-in-out;
	font-size: 14px;
	cursor: pointer;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	padding: 0;
	list-style-type: none;
}
svg {
	overflow: hidden;
	vertical-align: middle;
}
img {
	vertical-align: middle;
    border-style: none;
}

.container {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.green-button {
	padding: 8px 8px;
	border: none;
	box-shadow: none;
	background: #92C820;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	transition: all 0.25s ease-in-out;
}

/*Menu*/
.menu-wrapper {
	position: fixed;
	top: 0;
	z-index: 10;
	background:#fff;
	width: 100%;


	.top-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1180px;
		padding: 10px 0;
		
		.left-menu {
			display: flex;

			.left-menu__list {
				display: flex;
				justify-content: space-between;
				width: fit-content;

				.left-menu__item {
					a {
						padding: 8px 8px;
						font-weight: 600;
						line-height: 22px;
					}
					.left-menu__link:hover {
						color: #92C820;
					}
					.left-menu__link:first-child {
						padding-left: 0;
					}
				}
			}
		}
		.top-contact {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: fit-content;

			.top-contact__order-call {
				padding: 8px 8px;
				background: #92C820;
				border-radius: 5px;
				font-weight: 500;
				line-height: 22px;
				color: #fff;
				transition: all 0.25s ease-in-out;

			}
			.top-contact__order-call:hover {
				background: #684034;
				color: #fff;
			}
			.top-contact__phone {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				margin: 0 1rem;
				font-weight: 600;
				transition: all 0.25s ease-in-out;

				.top-contact__phone-icon {
					width: 20px;
					height: 23px;
				}
			}
			.top-contact__phone:hover,
			.top-contact__wa:hover {
				color: #92C820;
			}
			.top-contact__wa {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				font-weight: 600;
				transition: all 0.25s ease-in-out;

				.top-contact__wa-icon {
					width: 24px;
					height: 24px;
				}
			}
			
		}
	}
}
/*Подменю*/
.top-wrapper {
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
	padding: 30px 0;
	margin-top: 58px;

		.top-content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.title-block {
				display: flex;
				align-items: center;
				width: fit-content;

				.title-block__logo {

				}

				.title-block__text {
					max-width: 14rem;
					margin-left: 1rem;
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;
				}
			}

			.search {
				position:relative;
				display: flex;
				align-items: center;
				width: fit-content;

				.icon-spy {
					position: absolute;
					width: 18px;
					height: 19px;
					left: 12px;
					top: 50%;
					transform: translateY(-50%);

				}

				.search__input {
					width: 18.5rem;
					height: 34px;
					border: 2px solid #E3E3E3;
					box-shadow: none;
					border-radius: 5px;
					background: #F7F7F7;
					margin-right: 1rem;
					padding-left: 38px;
					color: #414141;
				}
				.search__input:active,
				.search__input:focus,
				.search__input:focus-visible,
				.search__input:hover {
					border-color: #92C820;
					outline: none;
				}
				.search__button {
					.green-button
				}
				.search__button:hover {
					background: #684034;
					color: #fff;
				}

			}
		}
}

/*Контент*/
.main-content {
	padding-top: 3rem;
	width: 100%;
	/*Слайдер*/
	.index-slider {
		width: 100%;
		height: fit-content;
		
		.swiper-wrapper {

			.swiper-slide {
				height: fit-content;

				img {
					width: 100%;
				}
			}
		}
		.swiper-scrollbar {
			width: 100% !important;
			left: 0% !important;
			.swiper-scrollbar-drag {
				background-color: #92C820;
			}

		}
	}
	/*Блок почему?*/
	.why-header {

	}

	.why-content {
		display: flex;
		justify-content: space-between;

		.why-content__item {
			max-width: 32%;
			//height: fit-content;
			overflow: hidden;
			border-radius: 16px;
			a {
				width: 100%;
				overflow: hidden;
				.why-content__img {
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					border-radius: 16px;
					transition: 0.5s; /* Время эффекта */
				}
				.why-content__img:hover {
					overflow: hidden;
					transform: scale(1.05) rotate(1deg);
				}
			}
			a:hover {
				color: #92C820;
			}
		}
	} 
	.index-catalog {
		.index-catalog__title {

		}
		.index-catalog__img {
			display: flex;
			justify-content: center;

			img {
				margin: 0 auto;
			}
		}
		.index-catalog-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.index-catalog-item {

			}
		}
	}
}


